openapi: 3.0.3

info:
  title: HK Tramways API (Unofficial)
  version: 1.0.0
  description: |
    This document is an unofficial OpenAPI 3.0 specification for the Hong Kong Tramways mobile backend API.

    The authors wrote this specification by observing public network protocol traffic.
    This specification serves technical interoperability study and educational research only.
    All schemas match live server responses from the production environment.

    ## Legal Disclaimer and Terms of Use

    - **Non-Affiliation**: This project is an independent open-source specification.
      It has no connection to Hong Kong Tramways, Limited.
    - **Trademark Notice**: "Hong Kong Tramways", "Ding Ding", and related brand names are trademarks of Hong Kong Tramways, Limited.
      This specification uses these marks under nominative fair use for identification only.
    - **Rate Limits and Fair Use**: The official server does not publish service level agreements.
      The official mobile app requests data every 15 seconds.
      Do not use this specification for commercial operations, automated scraping, or denial-of-service tests.
    - **No Warranty**: The authors provide this specification "as is" without warranty of any kind.
      The authors are not responsible for any misuse or service interruptions.

    ## General Information

    - **Base URL**: `https://api.hktramways.com/api/v1`
    - **Authentication**: Public read endpoints do not need authentication keys or tokens.
      The `Authorization: Bearer` header applies only to account endpoints.
    - **Request Headers**: Send `Accept: application/json`. Send `Accept-Language` with `en`, `zh-hk`, or `zh-cn`.
      Station responses have names in English, Traditional Chinese, and Simplified Chinese.
    - **Response Format**: Responses use the standard format `{ "success": boolean, "data": ... }`.
      Route errors from the Laravel framework return `{ "message": string }`.
    - **Update Frequency**: The official app queries `/tram-eta` every 15 seconds.
      The server gives real-time locations (`ACTUAL`) and timetable estimates (`SCHEDULED`).
    - **Rate Limits**: The server does not publish rate limit values.
      Send requests at intervals of 15 seconds or more. Do not use this API for commercial operations.

    ## Station Codes (`loc_code`)

    - Terminus stations: `SKT` (Shau Kei Wan), `KTT` (Kennedy Town), `HVT` (Happy Valley).
    - Intermediate stops: `02W` and `76W` (Westbound) or `01E` and `92E` (Eastbound).
    - You can get the complete list of stations with `GET /home`.

  contact:
    name: ByteLand Technology Limited
    url: https://github.com/ByteLandTechnology/hktramways-openapi
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-unofficial: true
  x-source:
    protocol-observation: public-network-traffic
    target-client-version: 1.0.1
    recorded-at: 2026-10-05

servers:
  - url: https://api.hktramways.com/api/v1
    description: Production environment (official mobile backend)

tags:
  - name: Home
    description: Static data for stations, termini, districts, and banners.
  - name: ETA
    description: Estimated arrival times for trams.
  - name: News
    description: News articles and press releases.
  - name: Notices
    description: Service notices and passenger alerts.
  - name: Tram Tour
    description: TramOramic tour events and schedules.
  - name: App Config
    description: Application configuration and route line colors.

paths:
  /home:
    get:
      operationId: getHomeData
      summary: Get all static station data and configuration
      description: |
        This endpoint returns all stations grouped by direction.
        It also returns terminus stations, districts, news tags, and banner items.
        The official app stores this data when it starts.
        The app calculates the nearest station locally by using station polygons and GPS coordinates.
        The response has 66 westbound stations and 64 eastbound stations.
      tags: [Home]
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/HomeData'

  /tram-eta/{stationCode}/{direction}:
    get:
      operationId: getTramETA
      summary: Get real-time arrival estimates for a station
      description: |
        This endpoint returns upcoming tram arrivals for the specified station and direction.
        The official app queries this endpoint every 15 seconds.

        - `ACTUAL`: The server tracks the tram with GPS (`tram_no`).
          The `estimated_arrival_time` field gives the local time (UTC+8) in `YYYY-MM-DD HH:MM:SS` format.
          The `arriving_in` field has minutes or the string `"ARRIVED"`.
        - `SCHEDULED`: The server calculates the arrival from a timetable.
          The `estimated_dep_time` field gives the departure time.
          The `arriving_in` field has an integer number of minutes.
        - Each item has `route_stations` with all stops on the route.
      tags: [ETA]
      parameters:
        - $ref: '#/components/parameters/StationCode'
        - $ref: '#/components/parameters/Direction'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/EtaData'
        '400':
          description: The direction parameter is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                message: 'Direction must be either "westbound" or "eastbound"'
        '404':
          description: The station code was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unknownStation:
                  value:
                    success: false
                    message: "Station code '92E' not found"
                wrongDirection:
                  value:
                    success: false
                    message: "Station code '10W' not found in eastbound routes"

  /news:
    get:
      operationId: getAllNews
      summary: Get paginated news articles
      description: |
        This endpoint returns news articles sorted by publication date in descending order.
        Each page has five items.
        Use the `page` query parameter to request other pages.
      tags: [News]
      parameters:
        - name: page
          in: query
          description: Page number for pagination. Default is 1.
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 2
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/NewsPage'

  /news/{id}:
    get:
      operationId: getNewsById
      summary: Get news article details
      description: This endpoint returns full details for a single news article by ID.
      tags: [News]
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the news article.
          schema:
            type: integer
          example: 34
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/NewsItem'
        '404':
          description: News article not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /notices:
    get:
      operationId: getAllNotices
      summary: Get all active service notices
      description: This endpoint returns all active service announcements and associated station IDs.
      tags: [Notices]
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeListResponse'

  /notices/general:
    get:
      operationId: getGeneralNotices
      summary: Get general service notices
      description: This endpoint returns service notices that do not connect to a specific station.
      tags: [Notices]
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeListResponse'

  /notices/{stationCode}:
    get:
      operationId: getStationNotices
      summary: Get service notices for a station
      description: |
        This endpoint returns service notices for the specified station code.
        If no notices apply to the station, the server returns an empty list.
      tags: [Notices]
      parameters:
        - $ref: '#/components/parameters/StationCode'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoticeListResponse'

  /tram-tour:
    get:
      operationId: getTramTourData
      summary: Get sightseeing tour data
      description: This endpoint returns tour highlights, tour events, and past event archives.
      tags: [Tram Tour]
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TourData'

  /tour-events/{id}:
    get:
      operationId: getTourEventById
      summary: Get tour event details
      description: This endpoint returns full details for a single tour event by ID.
      tags: [Tram Tour]
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the tour event.
          schema:
            type: integer
          example: 3
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TourEvent'
        '404':
          description: Route not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaravelRouteError'
              example:
                message: The route api/v1/tram-tour/3 could not be found.

  /app-config:
    get:
      operationId: getAppConfig
      summary: Get remote application configuration
      description: This endpoint returns the `ROUTE_COLORS` map. It maps destination codes to hex color values.
      tags: [App Config]
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/AppConfig'

components:
  parameters:
    StationCode:
      name: stationCode
      in: path
      required: true
      description: Station identifier (`loc_code` from `/home`), for example `SKT` or `76W`.
      schema:
        type: string
        pattern: '^[A-Z0-9]{2,4}$'
      example: 76W
    Direction:
      name: direction
      in: path
      required: true
      description: Direction of travel in lowercase (`westbound` or `eastbound`).
      schema:
        type: string
        enum: [westbound, eastbound]
      example: westbound

  schemas:
    # ---------- Home ----------
    HomeData:
      type: object
      required: [stations, destinations, districts, news_tags, highlights]
      properties:
        stations:
          $ref: '#/components/schemas/StationsByDirection'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/Destination'
        districts:
          type: array
          items:
            $ref: '#/components/schemas/District'
        news_tags:
          type: array
          items:
            $ref: '#/components/schemas/NewsTag'
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/Highlight'

    StationsByDirection:
      type: object
      required: [westbound, eastbound]
      properties:
        westbound:
          type: array
          description: Westbound stations from Shau Kei Wan to Kennedy Town (66 stations).
          items:
            $ref: '#/components/schemas/Station'
        eastbound:
          type: array
          description: Eastbound stations from Kennedy Town to Shau Kei Wan (64 stations).
          items:
            $ref: '#/components/schemas/Station'

    Station:
      type: object
      required: [id, loc_code, type, direction, english_name, t_chinese_name, s_chinese_name, latitude, longitude]
      properties:
        id:
          type: integer
          example: 117
        loc_code:
          type: string
          description: Station code used in the ETA endpoint path.
          example: SKT
        type:
          type: string
          description: Type of the station.
          example: TERMINUS
          enum: [TERMINUS, STOP]
        direction:
          type: string
          description: Direction of travel for the station platform.
          example: Westbound
        english_name:
          type: string
          example: Shau Kei Wan Terminus
        t_chinese_name:
          type: string
          description: Station name in Traditional Chinese.
          example: 筲箕灣總站
        s_chinese_name:
          type: string
          description: Station name in Simplified Chinese.
          example: 筲箕湾总站
        latitude:
          type: string
          description: Latitude in decimal degrees format.
          example: '22.27788880'
        longitude:
          type: string
          description: Longitude in decimal degrees format.
          example: '114.23017030'
        district_id:
          type: integer
          nullable: true
        english_alternative_name:
          type: string
          nullable: true
          example: Western District Swimming Shed
        t_chinese_alternative_name:
          type: string
          nullable: true
        s_chinese_alternative_name:
          type: string
          nullable: true
        location_polygon:
          type: array
          description: Polygon vertex array `[longitude, latitude]` for nearest station calculation.
          nullable: true
          items:
            type: array
            items:
              type: number
        should_show_in_picker:
          type: boolean
          description: Controls display in the mobile station selector.
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        deleted_at:
          $ref: '#/components/schemas/NullableTimestamp'

    Destination:
      type: object
      description: Terminus destination dictionary matching `destination_code` in ETA responses.
      required: [id, destination, english_name, t_chinese_name, s_chinese_name]
      properties:
        id:
          type: integer
        destination:
          type: string
          description: Unique code for the destination terminus.
          example: CBT
        english_name:
          type: string
          example: Causeway Bay
        t_chinese_name:
          type: string
          example: 銅鑼灣
        s_chinese_name:
          type: string
          example: 铜锣湾
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        deleted_at:
          $ref: '#/components/schemas/NullableTimestamp'

    District:
      type: object
      required: [id, english_name, t_chinese_name, s_chinese_name, order]
      properties:
        id:
          type: integer
        english_name:
          type: string
          example: Kennedy Town
        t_chinese_name:
          type: string
          example: 堅尼地城
        s_chinese_name:
          type: string
          example: 坚尼地城
        order:
          type: integer
          description: Sort index for display order.
        location_polygon:
          type: array
          nullable: true
          description: Boundary polygon vertex array `[longitude, latitude]`.
          items:
            type: array
            items:
              type: number
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'

    NewsTag:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          example: Announcement
        slug:
          type: string
          example: Announcement
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        deleted_at:
          $ref: '#/components/schemas/NullableTimestamp'

    Highlight:
      type: object
      description: Banner item for the home screen carousel.
      properties:
        id:
          type: integer
        title:
          type: string
        image_url:
          type: string
          format: uri
        link:
          type: string
          format: uri
        order_index:
          type: integer
        is_active:
          type: boolean

    # ---------- ETA ----------
    EtaData:
      type: object
      required: [current_station, direction, etas]
      properties:
        current_station:
          type: string
          description: Station code from the request path.
          example: 76W
        direction:
          type: string
          enum: [westbound, eastbound]
        etas:
          type: array
          description: List of upcoming arrivals in chronological order.
          items:
            $ref: '#/components/schemas/EtaEntry'

    EtaEntry:
      type: object
      required: [destination_code, destination, arriving_in, eta_type, route_stations]
      properties:
        destination_code:
          type: string
          description: Destination terminus code.
          example: KTT
        destination:
          type: string
          description: Destination name in English.
          example: Kennedy Town
        arriving_in:
          description: |
            Wait time. An integer in minutes for `SCHEDULED` trams, or a string for `ACTUAL` trams.
          oneOf:
            - type: integer
              example: 6
            - type: string
              example: 'ARRIVED'
        eta_type:
          type: string
          description: |
            - `ACTUAL`: Live GPS tracking (includes tram number and arrival time).
            - `SCHEDULED`: Timetable calculation (used when GPS data is unavailable).
          enum: [ACTUAL, SCHEDULED]
        estimated_arrival_time:
          type: string
          nullable: true
          description: Estimated arrival time in Hong Kong local time (`YYYY-MM-DD HH:MM:SS`).
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          example: '2026-10-05 17:05:40'
        estimated_dep_time:
          type: string
          nullable: true
          description: Estimated departure time in Hong Kong local time (`YYYY-MM-DD HH:MM:SS`).
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          example: '2026-10-05 17:22:31'
        tram_no:
          type: integer
          nullable: true
          description: Vehicle fleet number of the tram.
          example: 921
        route_stations:
          type: array
          description: Ordered list of station codes on this route.
          items:
            type: string
          example: ['HVT', '01E', '03E']
        debug:
          type: object
          description: Diagnostic route metadata from the server.
          properties:
            route_code:
              type: string
              description: Internal route identifier, for example `R5_HVT_to_KTT`.
              example: R5_HVT_to_KTT

    # ---------- News ----------
    NewsPage:
      type: object
      description: Standard pagination object from the Laravel framework.
      required: [current_page, data, per_page, total]
      properties:
        current_page:
          type: integer
          example: 1
        data:
          type: array
          items:
            $ref: '#/components/schemas/NewsItem'
        first_page_url:
          type: string
          nullable: true
        last_page_url:
          type: string
          nullable: true
        next_page_url:
          type: string
          nullable: true
        prev_page_url:
          type: string
          nullable: true
        from:
          type: integer
          nullable: true
        to:
          type: integer
          nullable: true
        last_page:
          type: integer
        path:
          type: string
          format: uri
        per_page:
          type: integer
          example: 5
        total:
          type: integer
        links:
          type: array
          description: Navigation links for pagination.
          items:
            type: object
            properties:
              url:
                type: string
                nullable: true
              label:
                type: string
              active:
                type: boolean

    NewsItem:
      type: object
      required: [id, title, published_at]
      properties:
        id:
          type: integer
          example: 34
        title:
          type: string
        published_at:
          $ref: '#/components/schemas/Timestamp'
        hero_image_url:
          type: string
          format: uri
        share_url:
          type: string
        meta_tag:
          type: string
        meta_description:
          type: string
        content:
          type: string
          description: Article text in HTML format.
        content_md:
          type: string
          description: Article text in Markdown format.
        tags:
          type: array
          description: List of tag IDs.
          items:
            type: integer
        stations:
          type: string
          nullable: true
          description: Related station codes.
        districts:
          type: array
          items:
            type: integer
        is_active:
          type: boolean
        is_pinned:
          type: boolean
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        deleted_at:
          $ref: '#/components/schemas/NullableTimestamp'

    # ---------- Notices ----------
    NoticeListResponse:
      type: object
      required: [success, data]
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notice'

    Notice:
      type: object
      required: [id, title, content, critical_level]
      properties:
        id:
          type: integer
          example: 116
        title:
          type: string
          example: Service Update
        content:
          type: string
        critical_level:
          type: string
          description: Severity level of the notice.
          enum: [low, medium, high]
        start_date:
          $ref: '#/components/schemas/NullableTimestamp'
        end_date:
          $ref: '#/components/schemas/NullableTimestamp'
        is_active:
          type: boolean
        is_show_in_home:
          type: boolean
        is_show_in_eta:
          type: boolean
          description: Controls display on the ETA screen.
        station_ids:
          type: array
          description: List of related station IDs.
          items:
            type: integer
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        deleted_at:
          $ref: '#/components/schemas/NullableTimestamp'

    # ---------- Tram Tour ----------
    TourData:
      type: object
      required: [tour_highlights, tour_events, previous_highlights]
      properties:
        tour_highlights:
          type: array
          items:
            $ref: '#/components/schemas/TourHighlight'
        tour_events:
          type: array
          items:
            $ref: '#/components/schemas/TourEvent'
        previous_highlights:
          type: array
          description: List of past tour events.
          items:
            $ref: '#/components/schemas/TourEvent'

    TourHighlight:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
          example: TramOramic Tour
        banner_photos:
          type: array
          items:
            type: string
            format: uri
        description:
          type: string
        url:
          type: string
          format: uri
          description: Booking URL for tickets.
        is_active:
          type: boolean
        tour_event:
          $ref: '#/components/schemas/TourEvent'

    TourEvent:
      type: object
      properties:
        id:
          type: integer
          example: 3
        title:
          type: string
          example: TramOramic Tour
        hero_images:
          type: array
          items:
            type: string
            format: uri
        abstract:
          type: string
        booking_text:
          type: string
        duration_text:
          type: string
          example: 1 hour
        price_text:
          type: string
        is_active:
          type: boolean

    # ---------- App Config ----------
    AppConfig:
      type: object
      required: [ROUTE_COLORS]
      properties:
        ROUTE_COLORS:
          type: object
          description: Maps destination codes to hex color strings.
          additionalProperties:
            type: string
            pattern: '^#[0-9A-Fa-f]{6}$'
          example:
            SKT: '#1504CA'
            KTT: '#22533E'
            HVT: '#22533E'

    # ---------- Common ----------
    ErrorResponse:
      type: object
      description: Application error response with `success=false` and an error message.
      required: [success, message]
      properties:
        success:
          type: boolean
          enum: [false]
        message:
          type: string

    LaravelRouteError:
      type: object
      description: Route error response when an endpoint does not exist.
      required: [message]
      properties:
        message:
          type: string

    Timestamp:
      type: string
      format: date-time
      description: Date and time string in RFC3339 format with microseconds.
      example: '2025-06-13T23:50:16.000000Z'

    NullableTimestamp:
      type: string
      format: date-time
      nullable: true
      example: null
